body .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: #f0f0f0;
    margin: 0;
    padding: 10px;
}

.card1 {
    width: 100%;
    border: 0.3px solid #ddd; /* Batas tipis */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efek bayangan lembut di luar */
    background-color: white;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efek saat hover */
    margin: 100%;
    max-width: auto; /* Lebar maksimum kartu */
    min-height: auto;
    font-style: arial black;
}

.card1:hover {
    transform: translateY(-5px); /* Mengangkat kartu sedikit */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Bayangan lebih tebal saat hover */
}

.card1-content {
    padding: 20px;
    margin-left: 5px;    
}

.card1-content h2 {
    margin-top: 0;
    color: blue;
    font-size: 1.5em;
    margin-bottom: 1px;
    font-weight: bold;
}

.card1-content p {
    color: #666;
    font-size: 0.9em;
    line-height: 1.5;
    margin-left: 5px;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}



